:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --font-family: "Work Sans", sans-serif;
  --basic-text-color: #534c64;
  --dark-heading: #0b0223;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--basic-text-color);
  font-weight: 400;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  max-width: 94rem;
  padding-inline: 2.5rem !important;
}

.content-center {
  margin: 0 auto;
}

.text-primary {
  color: var(--primary-color);
}

.section-title {
  color: var(--dark-heading);
  font-size: 3rem;
  font-weight: 700;
}

.background-clipped-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.31rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-alternative {
  color: var(--primary-color);
  background-color: #fff;
}

.section-margin {
  margin-bottom: 7.5rem;
}

.section-description {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

/* header styles */

.nav {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-content-container {
  display: flex;
  justify-content: space-between;
  padding: 2.31rem 0;
  align-items: center;
}

.logo-and-brandname-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logo-and-brandname-container > img {
  width: auto;
  height: 2.5rem;
}

.brandname {
  color: var(--dark-heading);
  font-size: 2.8125rem;
  font-weight: 700;
}

.nav-menu-items-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu-items-list a:link,
.nav-menu-items-list a:visited {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

.follow-us-container {
  display: flex;
  align-items: center;
  padding: 1.06rem 1.5rem;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  gap: 1.5rem;
}

.follow-us-container img {
  height: 1.5rem;
}

.nav-social-media-links-container {
  display: flex;
  gap: 1rem;
}

/* banner section styles */

.banner {
  background-image: url("./../assets/banner-bg.webp");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding: 2.5rem 0;
}

.banner-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.banner-main-img {
  width: 100%;
}

.main-website-heading {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.main-website-heading-special {
  font-size: 5.9375rem;
  font-weight: 800;
}

.banner-features-list {
  display: flex;
  flex-direction: column;
  gap: 1.06rem;
  margin-bottom: 2.56rem;
}

.banner-feature {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.banner-feature-img {
  height: 1.5rem;
}

.banner-feature-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.banner-buttons-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* we are gamers styles */

.we-are-gamers {
  padding: 3.45rem 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.we-are-gamers-content-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3.25rem;
}

.we-are-gamers-img {
  width: 100%;
}

.we-are-gamers-text-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.we-are-gamers-title {
  margin-bottom: 1.5rem;
}

.we-are-gamers-description {
  margin-bottom: 2rem;
}

.we-are-gamers-bottom-description {
  margin-top: 1.5rem;

  font-size: 1.5rem;
  font-weight: 500;
  font-weight: 500;
  line-height: 2.8125rem; /* 187.5% */
}

.we-are-gamers-bottom-description-special {
  font-size: 2rem;
  font-weight: 700;
}

/* funny-videos section styles */

.funny-videos-title {
  text-align: center;
  margin-bottom: 1rem;
}

.funny-videos-description {
  text-align: center;
  margin-bottom: 3rem;
}

.funny-videos-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.funny-video-inner-container {
  margin-bottom: 1.5rem;
  position: relative;
  border-radius: 1rem;
  border: 3px solid transparent;
  overflow: hidden;
  transition: border 0.3s ease-out;
}

.funny-video-inner-container > img {
  width: 100%;
  object-fit: cover;
}

.funny-video-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.funny-videos-play-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
}

.funny-video-inner-container:hover {
  border: 3px solid var(--primary-color);
}

.funny-video-inner-container:hover .overlay {
  opacity: 1;
  visibility: visible;
}

/* play instantly section begins */

.play-instantly-content-container {
  display: flex;
  justify-content: space-between;
}

.play-instantly-text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  align-items: center;
  flex-basis: 50%;
  gap: 1.5rem;
}

.play-instantly-text-part > p {
  width: 50%;
}

.play-instantly-img-part {
  position: relative;
}

.play-instantly-img-1 {
  width: 100%;
}

.play-instantly-img-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-45%, 20%);
}

/* game categories */

.game-categories-container {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.7rem;
}

.game-categories-btn {
  border: none;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0.62rem 1.25rem 0.62rem 0.62rem;
  border: 1px solid transparent;
  border-radius: 500rem;
  transition: all 0.3s ease-out;
}

.game-categories-btn > span {
  font-weight: 600;
  font-size: 1.25rem;
}

.game-categories-btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.footer {
  background-color: var(--dark-heading);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 7.5rem;
}

.footer .logo-and-brandname-container {
  margin-bottom: 3.5rem;
}

.footer .brandname {
  color: #fff;
}

.footer-top-options-list,
.footer-bottom-options-list {
  display: flex;
  gap: 3.75rem;
  padding: 0.62rem;
  flex-wrap: wrap;
}

.footer-top-options-list {
  margin-bottom: 3.5rem;
  justify-content: center;
}

.footer-top-options-list a:link,
.footer-top-options-list a:visited {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.footer-social-media-btns {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 4rem;
}

.footer-social-media-btns button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.footer-social-media-btns img {
  height: 2.5rem;
}

.footer-bottom-options-list {
  margin-bottom: 1.12rem;
  justify-content: space-between;
}

.footer-bottom-options-list a:link,
.footer-bottom-options-list a:visited,
small {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

small br {
  display: none;
}
