@media screen and (max-width: 82em) {
  html {
    font-size: 85%;
  }

  .play-instantly-content-container {
    flex-direction: column;
    gap: 4.6rem;
  }

  .play-instantly-text-part {
    text-align: center;
  }

  .play-instantly-img-part {
    width: 60%;
    margin: 0 auto;
  }

  .play-instantly-img-1 {
    width: 100%;
    transform: translateX(10%);
  }

  .play-instantly-img-2 {
    width: 50%;
    transform: translate(-25%, 20%);
  }
}

@media screen and (max-width: 62em) {
  html {
    font-size: 75%;
  }

  /* nav styles
   */
  .nav {
    margin-bottom: 4.87rem;
    box-shadow: none;
  }

  .nav ul li:nth-child(2) {
    margin-bottom: 1.4rem;
  }

  .nav-content-container {
    flex-direction: column;
    gap: 3.88rem;
    padding-top: 6.44rem;
  }

  .nav-menu-items-list {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  /* banner styles */

  .banner-main-img {
    width: 80%;
  }

  /* we are gamer styles */

  .we-are-gamers {
    background-image: none;
  }

  .we-are-gamers-content-container {
    grid-template-columns: 1fr;
  }

  .we-are-gamers-text-part {
    align-items: center;
    text-align: center;
  }

  .we-are-gamers-title {
    margin-bottom: 2rem;
  }

  .we-are-gamers-description {
    width: 60%;
    margin-bottom: 1.5rem;
  }

  .we-are-gamers-bottom-description {
    margin-top: 3.75rem;
  }

  /* funny videos styles */
  .funny-videos-cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    gap: 3rem;
  }
}

@media screen and (max-width: 50em) {
  .banner {
    background: none;
    padding: 0;
  }

  .banner-main-img {
    order: -1;
    justify-self: center;
  }

  .banner-content-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1.6rem;
  }

  .banner-text-part {
    width: 100%;
    height: 100%;
    background-image: url("./../assets/banner-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 36em) {
  html {
    font-size: 72.5%;
  }

  .we-are-gamers-description {
    max-width: 36.5rem;
    width: 100%;
    padding-inline: 2rem;
  }

  .funny-videos-cards-container {
    grid-template-columns: 1fr;
  }

  .funny-video-inner-container {
    margin-bottom: 2.1rem;
  }

  .funny-video-title {
    text-align: center;
  }

  .play-instantly-text-part > p {
    width: 90%;
  }

  .game-categories-container {
    gap: 0.85rem;
    row-gap: 2rem;
  }

  .game-categories-btn {
    gap: 0.75rem;
    padding-block: 0.4rem;
  }

  .game-categories-btn > span {
    font-size: 1rem;
  }

  .game-categories-btn > img {
    height: 3rem;
  }

  .footer {
    padding-bottom: 5.5rem;
  }

  .footer-social-media-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 4.25rem;
    column-gap: 3.58rem;
  }

  .footer-top-options-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 4.25rem;
    column-gap: 2.19rem;
    margin-bottom: 5rem;
  }

  .footer-bottom-options-list {
    width: 50%;
    column-gap: 0;
    row-gap: 3rem;
    margin-bottom: 4.6rem;
  }

  small br {
    display: inline;
  }
}
